#app{
  font-family: Roboto;
  background-color: white;
  /* margin-left: 50px; */
}

body {
  font-family: Roboto;
  background-color: white;
  height: 100vh;
  width: 100vw;
  /* margin-left: 50px; */
}

p {
  font-size: 20px;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  height: 90px;
  padding: 30px;
  font-size: 20px;
  background-color: #006d77;
}

nav a {
  color: #edf6f9;
}

nav a:hover {
  color: #9f86c0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-links {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  margin-top: -25px;
  white-space: nowrap;
  margin-right: 20px;
}

.nav-links li {
  padding: 5px;
  width: 60px;
  height: 50px;
  /* margin: 5px; */
  line-height: 50px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

/* .logo-container {
  -ms-flex-align: center;
  justify-content: space-between;
} */

.logo-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* height: 90px;
  width: 130px; */
  /* margin-top: -25px; */
}

#title {
  margin-top: -25px;
  color: white;
}

#logo-image{
  margin-top: -47px;
}

#auth-container {
  display: flex;
  /* align-items: center; */
}

#auth-image {
  flex: 1
}

#auth {
  flex: 1;
}

#auth-fields {
  display: flex;
  justify-content: center;
}

/* form div {
  margin: 1em;
  display: flexbox;
} */

.restaurants {
/* background-color: #83c5be; */
font-family: Roboto;
display: flex;
flex-direction: column;
align-content: space-between;
align-self: center;
justify-content: center;
}

.restaurant {
  /* background-color: #83c5be; */
  font-family: Roboto;
  position: relative;
  /* flex-direction: row; */
  align-content: center;
  /* align-self: center; */
  justify-content: center;
  align-items: center;
  text-align: start;
  margin: 25px;
  /* margin-bottom: auto;
  border-bottom: 10px; */
  }

  .image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .title-field {
    height: auto;
    width: 30rem;
  }

  .journal-field {
    height: 15rem;
    width: 30rem;
    /* margin: 1em;
    padding: 1em; */
  }

/* #welcome {
  width: 100%;
  margin: 2rem;
  border-radius:0px 0px 5px 5px;
} */


/* .logo {
  position: absolute;
  width: 14em;
  top: 65px;
  left: calc(50% - 7em);
  z-index: 1;
} */

#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 10px;
}

#create-restaurant {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-content: flex-start; */
  flex-direction: column;
  align-items: center;
}

#edit-restaurant {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-content: flex-start; */
  flex-direction: column;
  align-items: center;
}

.submit {
  position: absolute;
  bottom: -10px;
  left: 100rem;
}

/* button {
 position: fixed; 
 bottom: -4px;
 right: 10px;
 background-color: #ffddd2;
} */

.remove {
  /* position: absolute;
  bottom: -35px;
  right:36rem; */
  margin: 10px;
  text-align: center;
  left: 36rem;
}

input.right {
  float: right;
}

h1{
  text-align: center;
}

h2{
  text-align: left;
}