#app{
  font-family: Roboto;
  background-color: #83c5be;
  /* margin-left: 50px; */
}

body {
  font-family: Roboto;
  background-color: #83c5be;
  /* margin-left: 50px; */
}

p {
  font-size: 20px;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  padding: 30px;
  font-size: 20px;
  background-color: #006d77;
}

nav a {
  display: inline-block;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 1em;
  color: #edf6f9;
}

nav a:hover {
  display: inline-block;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 1em;
  color: #9f86c0;
}

/* form div {
  margin: 1em;
  display: flexbox;
} */

.restaurants {
background-color: #83c5be;
font-family: Roboto;
display: flex;
flex-direction: column;
align-content: center;
align-self: center;
}

.restaurant {
  background-color: #83c5be;
  font-family: Roboto;
  flex-direction: row;
  align-content: stretch;
  /* align-self: center; */
  justify-content: center;
  align-items: center;
  text-align: start;
  }

  .journal-field {
    height: 15rem;
    width: 30rem;
    margin: 1em;
    padding: 1em;
  }

#welcome {
  width: 100%;
  margin: 2rem;
  border-radius:0px 0px 5px 5px;
}

#auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-restaurant {
  display: block;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

button {
 position: sticky; 
 background-color: #ffddd2;
}

input.right {
  float: right;
}

h1{
  text-align: center;
}

h2{
  text-align: left;
}